button {
    border: none;
}

.filters {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    gap: 15px;
    flex-wrap: wrap;
}
.tittle-filter {
    font-size: xx-large;
    color: #fff;
    margin: 10px;
}
button.button-compleat {
    border-radius: 36px;
    background: #354e41;

    margin-top: 10px;
    color: #74d9a0;
    font-size: medium;
    height: 43px;
    font-weight: 800;

    cursor: pointer;
}

button.button-long {
    border-radius: 36px;
    background: #614441;

    margin-top: 10px;
    color: #ffb3b0;
    font-size: medium;
    cursor: pointer;
    height: 43px;
    font-weight: 800;

    padding: 10px;
}

button.button-medium {
    border-radius: 36px;
    background: #51412a;
    color: #cfa254;

    margin-top: 10px;
    font-weight: 800;
    font-size: medium;
    height: 43px;
    cursor: pointer;
    padding: 10px;
}

button.button-short {
    border-radius: 36px;
    background: #383f4f;
    font-weight: 800;

    margin-top: 10px;
    color: #a9c8f8;
    font-size: medium;
    cursor: pointer;
    height: 43px;
    padding: 10px;
}
.button-compleat.active,
.button-short.active,
.button-long.active,
.button-medium.active {
    background-color: #d9e2e3b0;
    color: #000;
    height: 43px;
    font-weight: 800;
}
.no_result {
    color: #fff;
    font-size: xx-large;
}

.card {
    margin: 20px;
}
